<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnalyticsForWindowsPhone" version="1.0.4" targetFramework="wp71" />
  <package id="GoogleAnalyticsTracker.WindowsPhone" version="1.2.4706.23117" targetFramework="wp71" />
  <package id="NLog" version="2.0.0.2000" targetFramework="wp71" />
  <package id="System.Threading.Tasks" version="2.1.2" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>